* {
  font-family: 'Roboto', sans-serif;
  margin-left: 3rem;
  background-color: transparent;
  font-size: 18px;
}

header {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin-left: 3rem;
  margin-top: 4rem;
  padding-bottom: 10rem;
  text-align: center;
}

.bold-subtitle {
  font-weight: bold;
  font-size: 2rem;
}

.red-number {
  color: rgb(210,30,30);
}

#navigation-system {
  padding-bottom: 32rem;
}

li {
  line-height: 1.9rem;
}

p {
  width: 50%;
}

.paragraph-content {
  padding-top: 1rem;
  padding-bottom: 3rem;
  line-height: 1.2rem;
}

hr {
  width: 50%;
  margin: 0;
}
