* {
  font-family: 'Roboto', sans-serif;
}

header {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 4rem;
  margin-left: 3rem;
  padding-bottom: 3rem;
}

.bold-subtitle {
  font-weight: bold;
}
